
::ng-deep .ui-card {
  .ui-card-title {
    text-align: center;
  }
  .ui-card-content{
    display: flex;
    flex-direction: column;

    p-message {
      margin: 1.2em auto 0.8em auto;
      width: auto;
    }
  }
}
