:host {
     ::ng-deep .ui-card {
        .ui-card-title {
            text-align: center;
        }
    }
    .flight-list {
         ::ng-deep .ui-card {
            .ui-card-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                @media screen and (max-width: 799px) {
                    app-flight-detail {
                        min-width: 100%;
                    }
                }
                p-message {
                    margin: 1.2em auto 0.8em auto;
                    width: auto;
                }
            }
        }
    }
    .error-messages {
        h4 {
            text-align: center;
        }
    }
}