p-card:last-of-type {
  margin-bottom: 0.5em;
}

@media (max-width: 640px) {
  .back-flight::ng-deep, .going-flight::ng-deep {
    .ui-card-title {
      text-align: center;
    }
  }
}

@media (min-width: 641px) {

  .going-flight::ng-deep {
    .ui-card-title {
      text-align: start;
    }
  }

  .back-flight::ng-deep {
    .ui-card-title {
      text-align: end;
    }
  }
}


.flight-map::ng-deep {
  .ui-card-title {
    text-align: center;
  }
}
