<p-card class="ui-g-12 ui-md-6 going-flight" title="Andata" *ngIf="goingFlight">
  <app-flight-detail [flight]="goingFlight" [addToFlightListButton]="true"></app-flight-detail>
</p-card>

<p-card class="ui-g-12 ui-md-6 back-flight" title="Ritorno" *ngIf="backFlight">
  <app-flight-detail [flight]="backFlight" (progressChange)="setBackProgress($event)" [addToFlightListButton]="true"></app-flight-detail>
</p-card>

<p-card class="ui-g-12 ui-md-12 flight-map" title="Mappa" *ngIf="goingFlight && backFlight">
  <app-flight-map [flight]="currentFlight"></app-flight-map>
</p-card>
