<div class="ui-helper-clearfix ui-g ui-fluid flight-container">
  <div class="ui-g-5 ui-md-5 departure">
    <p>{{flight.departureAirport.name}}</p>
    <p>{{flight.departureAirport.city}} ({{flight.departureAirport.country}})</p>
    <p>{{flight.departureDateTime | amCalendar}}</p>
  </div>
  <div class="ui-g-2 ui-md-2 meals">
    <img [src]="'../../assets/img/meal_' + detail.meals + '.png'" *ngFor="let detail of flight.flightLegDetails"/>
  </div>
  <div class="ui-g-5 ui-md-5 arrival">
    <p>{{flight.arrivalAirport.name}}</p>
    <p>{{flight.arrivalAirport.city}} ({{flight.arrivalAirport.country}})</p>
    <p>{{flight.arrivalDateTime | amCalendar}}</p>
  </div>
  <div class="ui-g-12 ui-md-12">
    <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>
    <p class="arrival-eta" [ngSwitch]="progress">
      <span *ngSwitchCase="null">In partenza tra {{timeToDepartureLeft | amDuration : 'minutes'}}</span>
      <span *ngSwitchCase="100">Atterrato {{timeToArrivalLeft | amDuration : 'minutes'}} fa</span>
      <span *ngSwitchDefault [ngSwitch]="progress < 10">
        <span *ngSwitchDefault>In arrivo tra {{timeToArrivalLeft | amDuration : 'minutes'}}</span>
        <span *ngSwitchCase="true">Partito da {{timeToDepartureLeft | amDuration : 'minutes'}}</span>
      </span>
    </p>
  </div>
</div>
