.flight-container {
  border: solid #8ec5fc 1px;
  margin: 1em 0;

  .departure {
    text-align: start;
  }
  .arrival {
    text-align: end;
  }
  .arrival-eta {
    text-align: center;
    font-size: 0.8em;
    margin: -1.3em 0 0 0;
    position: relative;
    font-weight: bold;
    color: #7c4a1e;
    mix-blend-mode: difference;
  }


  ::ng-deep{
    @for $i from 0 through 100 {
      [aria-valuenow='#{$i}'].ui-progressbar.ui-widget.ui-widget-content.ui-progressbar-determinate {
        $hue-rotate: ($i * -1.7) + 110;
        filter: hue-rotate(#{$hue-rotate}deg);
      }
    }
    /*
    [aria-valuenow='100'].ui-progressbar.ui-widget.ui-widget-content.ui-progressbar-determinate {
      filter: hue-rotate(-60deg);
    }
    */
  }
}
