:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
}

:host-context(.start, .departure) {
    text-align: start;
}

:host-context(.end, .arrival) {
    text-align: end;
}

::content {
    small {
        color: red;
    }
}