<div class="ui-g ui-fluid">
  <p-card title="Ricerca voli"class="ui-g-12 ui-md-12">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <h3>Partenza</h3>
        <p-autoComplete [(ngModel)]="departureAirport" [suggestions]="departureAirports" (completeMethod)="searchDepartureAirport($event.query)" [forceSelection]="true" field="name" (keydown.enter)="departureAirport = autoSelectFromList(departureAirport, departureAirports)">
          <ng-template let-airport pTemplate="departureAirport">
            <div class="hint-list">
              <div>
                <div class="famfamfam-flags" [ngClass]="airport.countryCode|lowercase"></div>
              </div>
              <p class="name">{{airport.name}}</p>
              <p class="iata">{{airport.iata}}</p>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>

      <div class="ui-g-12 ui-md-6">
        <h3>Arrivo</h3>
        <p-autoComplete [(ngModel)]="arrivalAirport" [suggestions]="arrivalAirports" (completeMethod)="searchArrivalAirport($event.query)" forceSelection="true" field="name" (keydown.enter)="arrivalAirport = autoSelectFromList(arrivalAirport, arrivalAirports)">
          <ng-template let-airport pTemplate="arrivalAirport">
            <div class="hint-list">
              <div>
                <div class="famfamfam-flags" [ngClass]="airport.countryCode|lowercase"></div>
              </div>
              <p class="name">{{airport.name}}</p>
              <p class="iata">{{airport.iata}}</p>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>

      <div class="ui-g-12 ui-md-4">
        <h3>Compagnia aerea</h3>
        <p-autoComplete [(ngModel)]="airline" [suggestions]="airlines" (completeMethod)="searchAirline($event.query)" forceSelection="true" field="name" (keydown.enter)="airline = autoSelectFromList(airline, airlines)">
          <ng-template let-airline pTemplate="airline">
            <div class="hint-list">
              <div>
                <div class="famfamfam-flags" [ngClass]="airline.countryCode|lowercase"></div>
              </div>
              <p class="name">{{airline.name}}</p>
              <p class="iata">{{airline.iata}}</p>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>

      <div class="ui-g-7 ui-md-4">
        <h3>Data di partenza</h3>
        <p-calendar [(ngModel)]="departureDate" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-5 ui-md-4">
        <h3>Orario di partenza</h3>
        <p-calendar [(ngModel)]="departureTime" timeOnly="true" hourFormat="24"></p-calendar>
      </div>
    </div>
  </p-card>

  <p-card class="ui-g-12 ui-md-6" title="Andata" *ngIf="(goingFlights || []).length">
    <app-flight-detail [flight]="goingFlight" *ngFor="let goingFlight of goingFlights" (click)="selectedGoingFlight = goingFlight" [ngClass]="{'action' : goingFlight !== selectedGoingFlight, 'active' : goingFlight === selectedGoingFlight && goingFlights.length>1}"></app-flight-detail>
  </p-card>

  <p-card class="ui-g-12 ui-md-6" title="Ritorno" *ngIf="(returnFlights||[]).length">
    <app-flight-detail [flight]="returnFlight" *ngFor="let returnFlight of returnFlights"></app-flight-detail>
  </p-card>
</div>
