<div class="ui-helper-clearfix ui-g ui-fluid flight-container">
    <div class="ui-g-5 ui-md-5 departure">
        <app-flight-detail-vector [flightVector]="flight.departure"></app-flight-detail-vector>
    </div>
    <div class="ui-g-2 ui-md-2 mid-section" [ngClass]="{'meals': !authenticated}">
        <div *ngIf="authenticated && addToFlightListButton">
            <p-button icon="pi pi-plus" (click)="addToFlightListItems.length > 1 ? addFlightListMenu.toggle($event) : addToFlightListItems[0].command()" [disabled]="addToFlightListDisabled"></p-button>
            <p-menu #addFlightListMenu popup="popup" [model]="addToFlightListItems"></p-menu>
        </div>
        <div *ngIf="authenticated && removeFromFlightListButton">
            <p-button icon="pi pi-minus" (click)="removeFromFlightListItems.length > 1 ? removeFlightListMenu.toggle($event) : removeFromFlightListItems[0].command()" [disabled]="!removeFromFlightListItems.length"></p-button>
            <p-menu #removeFlightListMenu popup="popup" [model]="removeFromFlightListItems"></p-menu>
        </div>
        <em [class]="'meal ' + meal" *ngFor="let meal of flight.meals"></em>
    </div>
    <div class="ui-g-5 ui-md-5 arrival">
        <app-flight-detail-vector [flightVector]="flight.arrival"></app-flight-detail-vector>
    </div>
    <div class="ui-g-12 ui-md-12 flight-duration">
        <span [ngPlural]="flight.duration.hours()">
            <ng-template ngPluralCase="=0"></ng-template>
            <ng-template ngPluralCase="=1">An hour</ng-template>
            <ng-template ngPluralCase="other">{{flight.duration.hours()}} hours</ng-template>
        </span>
        <span *ngIf="flight.duration.hours()>0 && flight.duration.minutes()>0">
          &nbsp;and&nbsp;
        </span>
        <span [ngPlural]="flight.duration.minutes()">
            <ng-template ngPluralCase="=0"></ng-template>
            <ng-template ngPluralCase="few">few minutes</ng-template>
            <ng-template ngPluralCase="other">{{flight.duration.minutes()}} minutes</ng-template>
        </span>
    </div>
    <div class="ui-g-12 ui-md-12 flight-progress">
        <p-progressBar [value]="progress" [showValue]="false" *ngIf="showProgressBar"></p-progressBar>
        <p class="flight-eta" [ngSwitch]="progress">
            <span *ngSwitchCase="null">Departure in {{timeToDepartureLeft | amDuration : 'minutes'}}</span>
            <span *ngSwitchCase="100">Landed {{timeToArrivalLeft | amDuration : 'minutes'}} ago</span>
            <span *ngSwitchDefault [ngSwitch]="progress < 10">
              <span *ngSwitchDefault>{{timeToArrivalLeft | amDuration : 'minutes'}} left</span>
              <span *ngSwitchCase="true">Departed {{timeToDepartureLeft | amDuration : 'minutes'}} ago</span>
            </span>
        </p>
    </div>
</div>
