:host {
  .flight-container {
    border: solid #8ec5fc 1px;
    margin: 1em 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;

    .mid-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      ::ng-deep .ui-button-icon-only {
        width: 2em;
        height: 1.9em;
      }

      .meal {
        $meal-size : 42px;
        $badge-size: $meal-size/2;

        &.S, &.B, &.K, &.F, &.O {
          background-image: url('../../../assets/img/snack.png');
        }
        &.L, &.D, &.G, &.M, &.N, &.H {
          background-image: url('../../../assets/img/dinner.png');
        }
        &.C,&.P {
          background-image: url('../../../assets/img/alcohol.png');
        }
        &.V, &.R {
          background-image: url('../../../assets/img/beverage.png');
        }

        &.G, &.V, &.P, &.F {
          &:after {
            content: '';
            display: block;
            width: $badge-size;
            height: $badge-size;
            background-position: center;
            background-size: $badge-size $badge-size;
            background-repeat: no-repeat;
            background-image: url('../../../assets/img/money-gliph.png');
          }
        }
        &.N {
          &:after {
            content: "\1F6AB";
            display: block;
            font-size: $meal-size*3/4;
            line-height: $meal-size;
            font-style: normal;
            color: #ff0000bd;
          }
        }
        &.Y {
          background-image: url('../../../assets/img/bag.png');
          &:after {
            content: "DUTY FREE";
            display: block;
            font-size: $meal-size/5;
            font-weight: bold;
            font-style: normal;
            margin-top: $meal-size/2.8;
            color: white;
          }
        }

        background-position: center;
        background-size: $meal-size $meal-size;
        background-repeat: no-repeat;
        width: $meal-size;
        height: $meal-size;
      }
    }

    .meals {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .flight-progress {
      display: inline-table;
      .flight-eta {
        text-align: center;
        font-size: 0.8em;
        margin: -1.4em 0 0 0;
        position: relative;
        font-weight: bold;
        color: #7c4a1e;
        mix-blend-mode: difference;
      }
    }

    .flight-duration {
      text-align: center;
      padding: 0;
    }

    ::ng-deep{
      @for $i from 0 through 100 {
        [aria-valuenow='#{$i}'].ui-progressbar.ui-widget.ui-widget-content.ui-progressbar-determinate {
          $hue-rotate: ($i * -1.7) + 110;
          filter: hue-rotate(#{$hue-rotate}deg);
        }
      }
    }

  }
}
