<div class="ui-helper-clearfix ui-g ui-fluid flight-container">
  <div class="ui-g-5 ui-md-5 departure">
    <p>{{flight.departure.airport.name}}</p>
    <p>{{flight.departure.airport.city}} ({{flight.departure.airport.country}})</p>
    <p>{{flight.departure.dateTime | amCalendar}}</p>
  </div>
  <div class="ui-g-2 ui-md-2 meals">
    <img [src]="'../../assets/img/meal_' + flight.meals + '.png'"/>
  </div>
  <div class="ui-g-5 ui-md-5 arrival">
    <p>{{flight.arrival.airport.name}}</p>
    <p>{{flight.arrival.airport.city}} ({{flight.arrival.airport.country}})</p>
    <p>{{flight.arrival.dateTime | amCalendar}}</p>
  </div>
  <div class="ui-g-12 ui-md-12">
    <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>
    <p class="arrival-eta" [ngSwitch]="progress">
      <span *ngSwitchCase="null">In partenza tra {{timeToDepartureLeft | amDuration : 'minutes'}}</span>
      <span *ngSwitchCase="100">Atterrato {{timeToArrivalLeft | amDuration : 'minutes'}} fa</span>
      <span *ngSwitchDefault [ngSwitch]="progress < 10">
        <span *ngSwitchDefault>In arrivo tra {{timeToArrivalLeft | amDuration : 'minutes'}}</span>
        <span *ngSwitchCase="true">Partito da {{timeToDepartureLeft | amDuration : 'minutes'}}</span>
      </span>
    </p>
  </div>
</div>
